@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

*{
  transition: .25s;
  text-decoration: none;
}
*::-webkit-scrollbar{
  display:none !important;
}
* {
  scrollbar-width: none;
}
.err{
  width: 100%;
  height: 20rem;
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.err button{
  background-color: #0370ffed;
  border: 0px;
  border-radius: 8px;
  padding: .4rem;
  margin: 1rem;
  color: #ededed;
  font-weight: 600;
  letter-spacing: .06rem;
}
.ser:hover .searchdata{
  display: flex;
}
.searchdata{
  max-height: 300px;
  min-height:100px;
  overflow-y: scroll;
  overflow-x: hidden;
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: #222222;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.sdata{
  width: 100%;
  height: 3rem;
  background-color: #272727;
  margin-bottom: 1rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}
.sd-img {
  display: flex;
  align-items: center;
}
.sd-n{
  margin-top: .8rem;
  display: flex;
  align-items: center;
  font-size: .9rem;
}
.sd-img img{
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  object-fit: cover;

}
span{
  text-decoration: none;
  outline-style: none;
  text-underline-offset: none;
}
html{
  background-color: #111111;
  color: rgba(240, 248, 255, 0.924);
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: #111111;
  color: rgba(240, 248, 255, 0.924);
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
}
a{
  text-decoration: none;
  color: rgba(240, 255, 255, 0.864);
}
main{
  color: rgba(240, 255, 255, 0.864);
  background-color: #111111;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
section{
  color: rgba(240, 255, 255, 0.864);
  background-color: #111111;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* position: static;   */
  

}

#dp{
  color:#f0f0f0;
  margin-top: 20px;
  border-top: 2px solid #8480806d;
  display: grid;
  grid-template-columns: repeat(2,12fr);
}
#su{
  display: none;
}
#user{
  display: none;
}
.P_1{
  padding-top: 60px;
  width: 330px;
  max-height: 550px;
  display: grid;
  /* padding: 10px; */
  grid-auto-flow: row;
  overflow-y: auto;
  overflow-x: hidden;
  border-right:2px solid #797979d0;
  /* border-top-right-radius: 20px; */
 }
 *::-webkit-scrollbar{
   display: none;
 }
 .P_1>.card_1{
  position:relative ;
  width: 300px;
  height: 100px;
  background-color: rgb(42, 42, 42);
  cursor: pointer;
  margin: 5px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  /* border-top:2px solid hsl(214, 100%, 59%);*/
  border-bottom:2px solid #545454; 
  transition:ease-in .25s;
  /* opacity: 0.7; */
  max-height: 80px;
}
#pi{
  margin-top: 10px;
  width: 60px;
  height: 59px;
}
.P_1>.card_1:hover{
  opacity: 1;
  transform: rotate(-2deg) skew(-2deg, 2deg);
  box-shadow:4px 4px  rgba(255, 22, 22, 0.5),
  8px 8px  rgba(255, 22, 22, 0.4),
  12px 12px  rgba(255, 22, 22, 0.3),
  16px 16px 30px hsl(214, 100%, 59%);
  min-height: 80px;
  max-height: 80px;
  width: 300px;
}
.card_1:hover #pi{
  width: 70px;
  height: 69px;
  margin-top: 5px;
  margin-left: 10px;
}

.P_2{
  margin-right: 50px;
    width: 940px;
    margin-left: -10px;
    max-height: 500px;
    grid-auto-flow: row;
    display: grid;
    overflow-y: auto;
    overflow-x: hidden;
    grid-template-columns: 1,1fr;
    grid-template-rows: 1,1fr;
   
  }
  
  .P_2>.card_1>.c-img{
    display: unset;
    position: static;
    width:930px;
    margin: 10px;
    height: 420px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: .5s;
    object-fit: cover;
    
  }
  .P_2::-webkit-scrollbar{
    display: none;
  }
  .P_2>.card_1{
    display: grid;
  }
  .P_2>.card_1{
   
   margin-top: -20px;
  
    width: 940px;
    margin-right: 0px;
   opacity: 1;
   height: 100%;
   text-align: center;
  
  }
  
  
  .card_1>.img{
    border-radius: 50%;
    width: 50px;
    height: 48px;
    margin-top: 5px;
    margin-left: 5px;
    border: 2px dashed hsl(214, 100%, 59%);
    transition: .25s;
  }
  .P_2>.card_1>.p-d{
    opacity: 1;
    /* width: 100%; */
    /* display: unset; */
    position: relative;
    /* min-height: 470px; */
    /* max-height: 480px; */
    /* margin-top: -200px;
    margin-left: 900px; */
    background-color: transparent;
  }
  .P_2>.card_1::-webkit-scrollbar{
    display: none;
  }
  .P_2>.card_1>#pi{
  
    width: 180px;
    height: 178px;
    position:relative;
    border-radius: 50%;
    margin-top: -100px;
    margin-left: 20px;
    border:4px solid hsl(214, 100%, 59%)
    ;
    outline: 4px solid #333333;
  
    transition: .25s;
  
  }
  .P_2>.card_1>#pi:hover{
    border:5px dashed hsl(214, 100%, 59%)
    ;
  }
  .P_2>.card_1>.u_n{
    font-weight: bolder;
    margin-top: -50px;
    max-width: 600px;
    /* display: inline-block; */
    font-size: 30px;
    margin-left: 185px;
    /* text-align: center; */
  }
  
  
  .P_2>.card_1>.p-d>.b-c{
    padding-left: 20px;
    padding-right: 20px;
    height: 40px;
    border-top: 2px solid hsl(214, 100%, 59%);
    border-bottom: 2px solid hsl(214, 100%, 59%);
  }
  .P_2>.card_1>.p-d>.b-d{
    padding-left: 30px;
    padding-right: 30px;
    width: 100px;
    height: 40px;
    border-top: 2px solid hsl(214, 100%, 59%);
    border-bottom: 2px solid hsl(214, 100%, 59%);
  }
  
  .P_2>.card_1>.p-d{
    /* float:inherit ; */
    /* display:grid;  */
    margin-top: -65px;
    margin-right: 20px;
    margin-left: 440px;
    position:relative ;
    /* padding: 20px; */
    text-align: center;
  
  }
  .P_2>.card_1>.detail{
    height: auto;
    overflow-y: hidden;
    display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
    row-gap: 0px;
    
    background-color: transparent;
  
  
  }
  .detail,.c-img{
    display: none;
   
  }
  .c-img{
    opacity: 0.5;
    object-fit: cover;
  }
  /* .card_1:hover .body-1>.P_2{
    opacity: 1;
  } */
  
  .P_2>.card_1>.c-img:hover{
    opacity: 0.7;
    /* height: 400px; */
    
  
  
  }
  
  
  
   .cp{
    background-color: #0d0d0e;
    height: 0px;
    display: none;
    /* margin-left: -200px; */
    /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
   }
   .P_2>.detail{
    display: grid;
    grid-template-rows: repeat(1,1fr);
    row-gap: 10px;
   }
   .intro{
    text-align: left;
    background-color: #222222;
    width: 700px;
    margin-left: 130px;
    border-radius: 10px;
   }
   .bio{
    margin: 30px;
    width: 650px;
    height: 80px;
    border-bottom: 2px solid #4e4e4e;
   }
   /* .int{
    /* margin: 10px; */
    
   .bio{
    margin-left: 31px;
    /* margin-bottom: 20px; */
   }
   .about{
    display: grid;
    grid-template-rows: repeat(1,12fr);
    float: left;
    text-align: left;
    width: 100%;
    margin-left: 31px;
   }
   .about>div{
    margin-bottom: 15px;
   }
   /* span{
    opacity: 0.7;
    
   }
   .span{
    font-size: 15px;
    
   } */
   .card_1>.img{
    border-radius: 50%;
    width: 50px;
    height: 48px;
    margin-top: 5px;
    margin-left: 5px;
    border: 2px dashed hsl(214, 100%, 59%);
    transition: .25s;
  } 
  .P_2>.card_1{
 
    margin-top: -20px;
   
     width: 940px;
     margin-right: 0px;
    opacity: 1;
    height: 100%;
    text-align: center;
   
   }
   .P_2::-webkit-scrollbar{
    display: none;
  }
  .P_2>.card_1{
    display: grid;
  }
  .P_2>.card_1>.c-img{
    display: unset;
    position: static;
    width:930px;
    margin: 10px;
    height: 420px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: .5s;
    
  }
  .P_2{
    margin-right: 50px;
      width: 940px;
      margin-left: -10px;
      max-height: 500px;
      grid-auto-flow: row;
      display: grid;
      overflow-y: auto;
      overflow-x: hidden;
      grid-template-columns: 1,1fr;
      grid-template-rows: 1,1fr;
     
    }
    
#dp{
  color:#f0f0f0;
  margin-top: 20px;
  border-top: 2px solid #8480806d;
  display: grid;
  grid-template-columns: repeat(2,12fr);
}

/* .P_1,.P_2,.P_3,.P_4{
  height: 500px;
  text-align: center;
  /* width: 100%; */
 
/* } */ 

.P_1{
 width: 330px;
 max-height: 500px;
 display: grid;
 /* padding: 10px; */
 grid-auto-flow: row;
 overflow-y: auto;
 overflow-x: hidden;
 border-right:2px solid #797979d0;
 /* border-top-right-radius: 20px; */
}
.P_1::-webkit-scrollbar{
  display: none;
}


.cc{
  display: grid;
  float: right;
  padding: 5px;
  text-align: center;
  transition: .25s;
}
.bt{
  border-bottom-left-radius: 20px  ;
  border-top-right-radius: 20px  ;
  border-bottom: 1px solid hsl(214, 100%, 59%);
  border-top: 1px solid hsl(214, 100%, 59%);
  margin-top: 10px;
}
.b-d{
  /* position:absolute ; */
  margin-right: 10px;
  width:80px;
}
.p-d{
  /* float: right; */
  margin-top: -25px;
}

.u_n{
  text-align: left;
  /* margin-right: 20px; */
  /* max-width: 30px; */
  margin-left: 70px;
  margin-top: -60px;
  transition: .25s;
  font-weight: bolder;
  
}
.P_1  .card_1:hover  .u_n{
  margin-left: 85px;
  /* margin-top: 10px; */
}
.friends{
  margin-top: 20px;
  margin-left: 130px;
  width: 700px;
  background-color: #222222;
  /* display: grid; */
  text-align: left;
  height: 810px;
  /* border: 2px solid #4e4e4e; */
  border-radius: 10px;
  color: #ffffff;
}
.fr_n{
  margin-top: 20px;
  font-size: 23px;
  margin-left: 31px;
}
.firend_list{
  
  width: 210px;
  height: 210px;
  background-color: #222222;
  margin-right: 8px;
  /* column-gap: 15px; */
  margin-bottom: 45px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-top: 2px solid hsl(214, 100%, 59%);
  border-bottom: 2px solid hsl(214, 100%, 59%);
}
.friend_list{
  margin-top: 10px;
  margin-left: 31px;
  /* margin-left: 0px; */
  width: 640px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
  /* height: 300px; */
}
.photos{
  margin-top: 20px;
  margin-left: 130px;
  background-color: #222222;
  width: 700px;
  height: 700px;
  border-radius: 10px;
  color: #ffffff;
  text-align: left;
}
.ph_n{
  margin-top: 25px;
  font-size: 25px;
  margin-left: 31px;
}
.photo_album{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-left: 31px;
  width: 650px;
  /* border: 10px solid #222222 ; */
  height: 640px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
}
.photo_item{
  width: 212px;
  height: 212px;
  background-color: #2e2e2e;
  margin-bottom: 4px;
  
}
.sa_p{
  color:rgb(13, 13, 234) !important;
  cursor: pointer;
  float: right;
  font-size: 18px;
  margin-top: 10px;
  margin-top: 5px;
  margin-right: 27px;
}
.pi_1{
  border-top-left-radius: 10px;
  border-top: 2px solid hsl(214, 100%, 59%);
}
.pi_2{
  border-top: 2px solid hsl(214, 100%, 59%);
}
.pi_3{
  border-top-right-radius: 10px;
  border-top: 2px solid hsl(214, 100%, 59%);
}

.pi_7{
  border-bottom-left-radius: 10px;
  border-bottom: 2px solid hsl(214, 100%, 59%);
}
.pi_8{
  border-bottom: 2px solid hsl(214, 100%, 59%);
}
.pi_9{
  border-bottom-right-radius: 10px;
  border-bottom: 2px solid hsl(214, 100%, 59%);
}
#su{
  display: none;
}
#user{
  display: none;
}

/* User Profile */
.pf_hold{
 min-height: 700px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 200px;
}
.height{
  min-height: 200px;
}
.pf_hold::-webkit-scrollbar{
  display: none;
}
.P_f{
  color: white;
  /* margin-left: 160px; */
  width: 1260.5px;
  max-height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pf_hold{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pf{
  background-color: #222222;
  width:1260.5px;
  height: auto;
 }
.P_f>.data{
  max-height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: center;
  row-gap: 0px;


}

.data div{
  /* margin: 0px; */
  /* padding: 10px; */
}
.pf>.card_1>.c-img{
  display: unset;
  position: static;
  width:930px;
  margin: 10px;
  height: 420px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: .5s;
  
}
.P_f::-webkit-scrollbar{
  display: none;
}
.pf>.card_1{
  display: grid;
}
.pf>.card_1{
 
 margin-top: -20px;
  margin-left: 160px;
  width: 940px;
  margin-right: 0px;
 opacity: 1;
 height: 100%;
 text-align: center;

}


.card_1>.img{
  border-radius: 50%;
  width: 50px;
  height: 48px;
  margin-top: 5px;
  margin-left: 5px;
  border: 2px dashed hsl(214, 100%, 59%);
  transition: .25s;
}
.pf>.card_1>.p-d{
  opacity: 1;
  /* width: 100%; */
  /* display: unset; */
  position: relative;
  /* min-height: 470px; */
  /* max-height: 480px; */
  /* margin-top: -200px;
  margin-left: 900px; */
  background-color: transparent;
}
.pg>.card_1::-webkit-scrollbar{
  display: none;
}
.pf>.card_1>#pi{

  width: 180px;
  height: 180px;
  position:relative;
  border-radius: 50%;
  margin-top: -60px;
  margin-left: 50px;
  border:4px solid hsl(214, 100%, 59%)
  ;
  outline: 4px solid #333333;

  transition: .25s;

}
.pf>.card_1>#pi:hover{
  border:5px dashed hsl(214, 100%, 59%)
  ;
}
.pf>.card_1>.u_n{
  font-weight: bolder;
  margin-top: -120px;
  max-width: 600px;
  /* display: inline-block; */
  font-size: 30px;
  margin-left: 250px;
  /* text-align: center; */
}


.pf>.card_1>.p-d>.b-c{
  padding-left: 20px;
  padding-right: 20px;
  height: 40px;
  border-top: 2px solid hsl(214, 100%, 59%);
  border-bottom: 2px solid hsl(214, 100%, 59%);
}
.pf>.card_1>.p-d>.b-d{
  padding-left: 30px;
  padding-right: 30px;
  width: 140px;
  height: 40px;
  border-top: 2px solid hsl(214, 100%, 59%);
  border-bottom: 2px solid hsl(214, 100%, 59%);
}

.pf>.card_1>.p-d{
  /* float:inherit ; */
  /* display:grid;  */
  margin-top: -65px;
  margin-right: 20px;
  margin-left: 440px;
  position:relative ;
  /* padding: 20px; */
  text-align: center;

}
.pf>.card_1>.detail{
  display: unset;
  /* position:absolute ; */
  border-top: 2px solid #8480806d;
  width: 920px;
  height: 300px;
  margin-left: 10px;
  margin-top: 20px;
  background-color: transparent;


}
.detail,.c-img{
  display: none;
 
}
.c-img{
  opacity: 1;
  cursor: pointer;
}
img{
  cursor: pointer;
}
/* .card_1:hover .body-1>.P_2{
  opacity: 1;
} */

.pf>.card_1>.c-img:hover{
  opacity: 0.7;
  /* height: 400px; */
  


}









 .cp{
  background-color: #0d0d0e;
  height: 0px;
  display: none;
  /* margin-left: -200px; */
  /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
 }
 /* User Profile */
 .P_f>.detail{
  height: auto;
  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: center;
  row-gap: 0px;
 }
 
 
 .data{
  display: flex;
  flex-direction: row;
 }
 .u_int{
  padding-top: -15px;
 }
 .u_intro{
  height: auto;
  text-align: left;
  padding-top: -10px;
  background-color: #222222;
  width: 360px;
  margin-left: 10px;
  border-radius: 10px;
 }
 .u_bio{
  margin: 20px;
  width: 340px;
  height: 80px;
  border-bottom: 0px solid #4e4e4e;
 }
 /* .int{
  /* margin: 10px; */
  
 .u_bio{
  margin-left: 20px;
  /* margin-bottom: 20px; */
 }
.u_edit_bio{
  width: 300px;
  text-align: center;
  font-size: 15px;
  font-weight: lighter;
  margin-left: 10px;
  height: 40px;
  margin-top: 10px;
  padding-top: 6px;
  background-color: #333333;
  /* border: 2px solid; */
  border-radius: 10px;
  cursor: pointer;
}

 .u_about{
  display: grid;
  grid-template-rows: repeat(1,12fr);
  float: left;
  text-align: left;
  width: 100%;
  margin-left: 20px;
 }
 .u_edit_detail{
  width: 300px;
  text-align: center;
  font-size: 15px;
  font-weight: lighter;
  margin-left: 10px;
  height: 40px;
  margin-top: 10px;
  padding-top: 6px;
  background-color: #333333;
  /* border: 2px solid; */
  border-radius: 10px;
  cursor: pointer;
}
 .u_about>div{
  margin-bottom: 5px;
 }
 /* span{
  opacity: 0.7;
 } */
 .u_highlight{
  /* text-align: left; */
  
  margin-top: 90px;
  display: grid;
  grid-template-columns: repeat(1,1fr);
  overflow-x: auto;
  overflow-y: hidden;
  /* width: 100%; */
  
  /* border-top: 2px solid #4e4e4e; */

 }
 .u_highlight_items{
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  margin-left: 20px;
  width: 330px;
  margin-bottom: 10px;
 }
 .u_highlight_item{
  width: 101.333px;
  height: 180.146px;
  margin-right: 10px;
  background: #292929;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-top: 2px solid hsl(214, 100%, 59%);
  border-bottom: 2px solid hsl(214, 100%, 59%);
 }
 .u_highlight_items::-webkit-scrollbar{
  display: none;
}
.u_edit_highlight{
  width: 300px;
  text-align: center;
  font-size: 15px;
  font-weight: lighter;
  margin-left: 30px;
  margin-bottom: 15px;
  height: 40px;
  margin-top: 10px;
  padding-top: 6px;
  background-color: #333333;
  /* border: 2px solid; */
  border-radius: 10px;
  cursor: pointer;
}
.u_friends{
  margin-top: 10px;
  margin-left: 10px;
  width: 360px;
  background-color: #343434;
  text-align: left;
  height: 450px;
  /* border: 2px solid #4e4e4e; */
  border-radius: 8px;
  color: #ffffff;
}
#flop{
  font-weight: bold;
}
.u_fr_n{
  float: left;
  padding-top: 20px;
  font-size: 20px;
  margin-top: -10px;
  margin-left: 20px;
}
.u_firend_list{
  width: 101.990px;
  height: 130px;
  /* background-color: #5b5b5b; */
  margin-right: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  /* column-gap: 15px; */
  /* margin-bottom: 55px; */
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top: 1px solid hsl(214, 100%, 59%);
  border-bottom: 1px solid hsl(214, 100%, 59%);
}
.u_firend_list p{
  margin-top: -53px;
  font-size: 14px;
  text-align: center;
}
.u_firend_list img{
  
  width: 101.990px;
  height: 101.990px;
  background-color: #5b5b5b;
  margin-right: 2px;
  object-fit: cover;
  /* column-gap: 15px; */
  margin-bottom: 55px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top: 1px solid hsl(214, 100%, 59%);
  border-bottom: 1px solid hsl(214, 100%, 59%);
}
.u_friend_list{
  margin-top: 20px;
  margin-left: 10px;
  /* margin-left: 0px; */
  width: 355px;
  max-height: 380px;
  overflow-y: hidden;
  overflow-x: hidden;
  display: grid;
border-radius: 8px;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
  /* height: 300px; */
}
.u_photos{
  margin-top: 20px;
  margin-left: 10px;
  background-color: #343434;
  width: 360px;
  height: 404px;
  border-radius: 10px;
  color: #ffffff;
  text-align: left;
}
.u_ph_n{
  margin-top: 25px;
  font-size: 15px;
  margin-left: 20px;
}
.u_photo_album{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-left: 13px;
  margin-top: 25px;
  width: 340px;
  /* border: 10px solid #222222 ; */
  max-height: 340px;
  overflow-y: hidden;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
}
.u_photo_item{
  width: 106.667px;
  height: 106.667px;
  background-color: #2e2e2e;
  border-radius: 8px;
  margin-bottom: 0px;
  margin: 3px;
  
}
.u_photo_item img{
  border-radius: 8px;
  width: 106.667px;
  height: 106.667px;
  object-fit: cover;
}
.u_sa_p{
  color:rgb(13, 13, 234) !important;
  cursor: pointer;
  float: right;
  font-size: 18px;
  margin-top: 10px;
  /* margin-top: 0px; */
  margin-right: 20px;
}
.u_pi_1{
  border-top-left-radius: 10px;
  border-top: 1px solid hsl(214, 100%, 59%);
}
.u_pi_2{
  border-top: 1px solid hsl(214, 100%, 59%);
}
.u_pi_3{
  border-top-right-radius: 10px;
  border-top: 1px solid hsl(214, 100%, 59%);
}

.u_pi_7{
  border-bottom-left-radius: 10px;
  border-bottom: 1px solid hsl(214, 100%, 59%);
}
.u_pi_8{
  border-bottom: 1px solid hsl(214, 100%, 59%);
}
.u_pi_9{
  border-bottom-right-radius: 10px;
  border-bottom: 2px solid hsl(214, 100%, 59%);
}
.posts{
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.posts .all_post{
  margin-top: 0px;
  padding-top: 0px;
  max-height:900px;
  min-height: 900px;
  overflow-y: auto;
  overflow-x: hidden;
}
.posts .mf_up{
  margin-top: 80px;
  margin-bottom: 30px;
}
.detail .posts{
  margin-top: -358px !important;
 }
 .filter-card{
  margin-top: 2rem;
  width: 500px;
  height: 100px;
  background-color: #272727;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  text-align: center;
  transition: ease-in .25s;
 }
 .filter-card:hover #us{
  display: block;
 }
 .filter{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 8px;
  margin-top: -0.5rem;
 }.ft-bt{
  display: flex;
  flex-direction: row;
  background-color: transparent;
  align-items: center;
  border-top: 1px solid #5b5b5b;
  transition: ease-in .25s;
 }
 .ft-h{
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-bottom: -0.6rem;
 }
 .ft-h p{
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .1rem;
  padding-bottom: .1rem;
  margin-top: 0rem;
  margin-left: 1rem;
  background-color: #222222;
  text-align: center;
  font-size: .8rem;
  border-radius: 4px;
 }
 #us{
  background-color: #222222;
  border: 0px solid;
  font-size: 12px;
  color: #fff;
  padding: 8px;
  border-radius: 8px;
  margin-top: 1rem;
  margin-left: 8px;
  /* display: none; */
  transition: ease-in .25s;
  
 }

.posts .all_post_data{
  margin-top: 60px;
  /* padding-top: 60px; */
}
.all_post::-webkit-scrollbar{
  display: none;
}
.u_posts{
  display: flex; 
 flex-direction: column;
  align-items: center;
  justify-content: center;
}
.img{
  object-fit: cover;
}
.top{
  position: fixed;
  z-index: 999999;
  height: 56px;
  width: 1280px;
  max-width: 1290px;
  min-width:300px;
  background-color: #222222;
  border-bottom: .5px solid rgba(68, 68, 68, 0.666);
 text-align: center;
 display: flex;
 flex-direction: row;
 justify-content: space-between;

}
.top div{
  padding: 8px;
}
.nav_l{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 8px;
  padding: 8px;
  margin-left: 16px;
}
.xe3v8dz{
  fill: white;
}
.f{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0px !important;
  border-radius: 50%;
}

.x1ypdohk {
  cursor: pointer;
}

.s_o_f{
  background-color: #333333;
  border-radius: 20px;
  width: 252px;
  height: 40px;
  text-align: left;
  padding: 8px;
  margin-top: -10px;
  border-color: transparent;
  z-index: 99;
  color: rgb(226, 226, 226);
}
input:active{
  border-style: none;
}

.nav_m{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}
.nav_m div{
  min-width: 111.594px;
  height: 56px;
  cursor: pointer;
  border-radius: 8px 8px 0px 0px;
  margin-top: -8px;
  padding-top: 16px;
}
.nav_m div:hover{
  background-color: #333333;
}
.nav_r{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0px;
  align-items: center;
  margin-right: 20px;
}
.nav_r div{
  height: 40px;
  min-width: 40px;
  border-radius:50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333333;
  margin: 4px;
  cursor: pointer;

}
.n_r_p{
  width: 40px;
  height: 40px;
  object-fit: cover;
  /* padding: 8px; */
  border-radius: 50%;
  background-color: #333333;

}
.nav_r div:hover{
  background-color: #333333;
}
.n_r_p:hover{
  box-shadow: 0px 0px 5px white;
  padding: 4px;
}



.newfeed{
  padding-top: 40px;
  flex-grow: 1;
  min-width: 598px;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  padding-left: 32px;
  padding-right: 32px;
  /* background-color: #222222; */
  /* margin: 8px; */
  overflow-y: scroll;
  overflow-x: hidden;
  min-height: 700px;
  max-height: 600px;
}
.mid_feed{
  padding-top: 40px;
  min-width: 598px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: #020202; */
  padding-left: 8px;
  padding-right: 8px;
  /* margin: 8px; */
}
.newfeed::-webkit-scrollbar{
  display: none;
}
.mf_highlight{
  max-width: 590px;
  overflow-x: scroll;
  overflow-y: hidden;
}
.mf_highlight::-webkit-scrollbar{
  display: none;
}
.highlight_item{
  width: 111.604px;
  height: 198.406px;
  
}
.hd_p{
  max-height: 149.406px;
  border-radius: 8px 8px 0px 0px;
}
.cr_s{
  z-index: 99;
  max-height: 49px;
  min-width: 111.6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #272727;
  border-radius: 0px 0px 8px 8px;
}
.s_add{
  background-color:hsl(214, 100%, 59%);
  width: 40px;
  min-height: 40px;
  border-radius: 50%;
  margin-bottom: -5px;
  font-size: larger;
  font-weight: bolder;
  border: 4px solid   #272727 ;

}

.hl_c{
  position: relative;
  width: 111.604px;
  height: 198.406px;
 border: 0px solid #272727;
  margin: 8px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}
.hl_c div{
  cursor: pointer;
}
.h_l_p{
  width: 40px;
  height: 40px;
  margin: 8px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: -190px;
  
}
.hln_t{
  position: absolute;
  min-height: 100px;
  margin-top: -50px;
  padding: 8px;
  font-size: 14px;
  text-indent: 1%;
  line-height: 1.333;
}
.h_l_p {
  position: absolute;
  border: 3.5px solid hsl(214, 100%, 50%);
}
.hl_n {
  position: relative;
  text-align: left;
  height: auto;
  margin-top: 0px;
  z-index: 9999;
  text-shadow: 0px 0px 4px black;
}

.hl_m{
  width: 111.604px;
  height: 198.406px;
  max-width: 111.604px;
  max-height: 198.406px;
  object-fit: cover;
  border-radius: 8px;
}
.hl_mp{
  width: 111.604px;
  height: 198.406px;
  object-fit: cover;
  border-radius: 8px;
  padding: 2px;
}
.hd_p{
  width: 111.604px;
  height: 150.406px;
  object-fit: cover;
  z-index: -1;
  padding: 2px;
}
.hl_mp:hover,
.hd_p:hover{
 padding: 0px;

}
.br_1{
  filter: brightness(.8);
}
.mf_highlight_items{
  display: flex;
  flex-direction: row;

}
.ppl_ymk{
  display: none;
}
.mf_up{
  width: 500px;
  height: 122.667px;
  display: flex;
  justify-content: center;
  padding: 8px;
  margin: 8px;

}
.pe_h{
  width: 500px;
  height: 122.667px;
  border-radius: 8px;
  padding: 8px;
  margin: 8px;
  background-color: #222222;
}
.mf_pe{
  display: flex;
  flex-direction: row;
  
  margin: 8px;
 
}
.mf_pe a{
  cursor: pointer;
}
.mf_md{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid rgba(96, 96, 96, 0.587);
}
.mf_md div{
  margin: 8px;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
.mf_md div:hover{
  background-color: #333333;
  
}
.pe_m_p{
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  background-color: #333333;
  padding: 8px;
  margin: 0px;
  cursor: pointer;
}
.pe_m_p:hover{
  box-shadow: 0px 0px 10px rgba(214, 214, 214, 0.809);
  /* transform: rotate(180deg); */
  padding: 4px;
  
}
.pe_txt{
  background-color: #333333;
  width: 420px;
  height: 40px;
  border-radius: 20px;
  padding: 8px;
  margin-left: 8px;
}

.pe_txt span{
  padding: 8px;
  opacity: .8;
}
.all_post{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 8px;
}
.all_post_data{
  display: flex;
  flex-direction: column;
  background-color: #222222;
  width: 500px;
  height: auto;
  border-radius: 8px;
  padding: 8px;
  margin: 8px;
}
.all_p_owner{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 48px;
}
.p_o_p{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #333333;
  /* padding: 8px; */
  object-fit: cover;
  margin: 8px;
}
.p_o_p:hover{
  box-shadow: 0px 0px 10px rgb(203, 203, 203);
}
.p_o_n{
  padding: 8px;
  margin-left: -10px;
}
.post_data{
  display: flex;
  flex-direction: column;
  /* padding: 8px; */
}
.p_d_tex{
  padding: 8px;
  margin: 8px;
}
.p_d_p{
  width: 500px;
  max-height: 700px;
  padding: -8px;
  margin: -8px;
  object-fit: cover;
}
.all_p_owner .p_opt{
  display: flex;
  justify-content: right;
  flex-grow: 1;
  cursor: pointer;
  margin: 8px;
  
}
.p_opt strong{
  width: 40px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
}
.p_opt strong:hover{
  background-color: #272727;
}
.p_opt strong:active .p_opt form{
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.p_opt form{
  display: none;
  flex-direction: column;
  justify-content: left;
  padding: 8px;
}
.post_react{
  display: flex;
  flex-direction: column;
  padding: 8px;
  margin: 8px;
  /* width: 480px; */
}
.p_r_count{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 8px;
}
.p_r_count div{
  cursor: pointer;
}
.p_r_data{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 8px;
  border-top: 1px solid rgba(85, 85, 85, 0.729);
}
.p_r_data div{
  margin-bottom: -20px;
  padding: 8px;
  cursor: pointer;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.p_r_data div:hover{
  background-color: #333333;
}
buttom{
  cursor: pointer;
}
.p_l_c{
  display: flex;
  flex-direction: row;
}
.p_l_c p{
  margin-left: 5px;
}



.mf_highlight{
  height: 230.406px;
  width: 590px;
}
.left_feed{
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content:left;
  width: 280px;
  margin: 8px;
  /* padding: 0; */
  /* background-color: #222222; */
}
.lf_me{
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding: 4px;
  margin-bottom: -20px;
}
.lf_p{
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin: 8px;
  padding: 6px;
}
.m_p:hover{
  /* transform: rotate(180deg); */
  padding: 4px;
}
.lf_n{
  padding: 8px;
  margin-left: -10px;
  margin-top: 8px;
  line-height: 1.333;
  font-size: .9375rem;
  font-weight: 650;
}
.right_feed{
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content:left;
  text-align: center;
  width: 280px;
  margin: 8px;
  /* padding: 0; */

}
.r_to{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  text-align: center;
}
.ct_h{
  max-height: 350px;
  /* overflow: scroll; */
}
.ct_hc{
  max-height: 280px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.ct_hc::-webkit-scrollbar{
  display: none;
}
.ct_t{
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin: 8px;
  padding: 8px;
  color: rgba(240, 248, 255, 0.72);
  cursor: pointer;
  font-size: 16px;
  font-weight: 550;
}
.rf_usr{
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 8px;
  margin-left: 16px;
  margin-bottom: -4px;
  padding: 4px;
}
.rf_usr div{
  cursor: pointer;
}
.rf_usr_p {
  min-width: 30px;
  min-height: 30px;
  border-radius: 50%;
}
.rf_usr_p img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid hsl(214, 100%, 59%);
}
.rf_usr_n{
  font-weight: 600;
}
.p_hover:hover{
  box-shadow: 0px 0px 8px white;
  padding: 0px;
}
.cr_form{
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}
.cr_form form{
  width: 500px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}
.cr_form form div{
  display: flex;
  flex-direction: column;
  align-items: left;
}

/* __________________________________Mobile View_______________________________________ */
@media only screen and (max-width:600px){
  main{
    /* max-width:412px; */
    display:flex;
    flex-direction:column;
    align-items:center;
  }
  section{
    /* max-width:412px; */
  }
  .left_feed{
    display:none;
  }
  .right_feed{
    display:none;
  }
  .ct_h{
    display:none;
  }
  main .top{
    margin-left: -200px;
    /* width:412px; */
    min-width: 410px;
    height: 56px;
    width: 100%;
    background-color: #222222;
   text-align: center;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
  }
  .top{
    margin-left: 00px;
    /* width:412px; */
    min-width: 410px;
    height: 56px;
    width: 100%;
    background-color: #222222;
   text-align: center;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
  }
  .s_o_f{
  display: none;
    
  }
  .nav_l{
    margin-left:8px;
  }
  .nav_r{
    padding-right:4px;
  }

  .nav_m{
    display:none;
  }
  
.newfeed{
  min-width: 380px;
  max-width: 380px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-left: 30px;
  
  overflow-y: scroll;
  overflow-x: hidden;
  min-height: 800px;
  max-height: 700px;
}
.mid_feed{
  min-width: 380px;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* padding-left: 5px; */
  margin-left: 57px;
}

.newfeed::-webkit-scrollbar{
  display: none;
}
.mf_highlight{
  max-width: 380px;
  min-width:380px;
 height:210.44px;
  /* overflow: auto; */
  
  margin-left:-50px;
}
.mf_highlight::-webkit-scrollbar{
  display: none;
}
.highlight_item{
  width: 97px;
  height: 172.44px;
  
 
  
}
.hd_p{
  max-height: 149.406px;
}
.cr_s{
  max-height: 49px;
  min-width: 97px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #272727;
  border-radius: 0px 0px 8px 8px;
}
.s_add{
  background-color:hsl(214, 100%, 59%);
  width: 40px;
  min-height: 40px;
  border-radius: 50%;
  margin-bottom: -5px;
  font-size: larger;
  font-weight: bolder;
  border: 4px solid   #272727 ;

}

.hl_c{
  position: relative;
  width: 97px;
  height: 172.44px;
 border: 1px solid #272727;
  margin: 8px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
 
  
}
.hl_c div{
  cursor: pointer;
}
.h_l_p{
  width: 30px;
  height: 30px;
  margin: 8px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: -165px;
  
}
.hln_t{
  position: absolute;
  min-height: 40px;
  margin-top: -60px;
  padding: 8px;
  font-size: 14px;
  text-indent: 1%;
  line-height: 1.333;
}
.h_l_p {
  position: absolute;
  border: 3.5px solid hsl(214, 100%, 50%);
}
.hl_n {
  position: relative;
  text-align: left;
  height: auto;
  margin-top: 0px;
  z-index: 9999;
  text-shadow: 0px 0px 4px black;
}

.hl_m{
  width: 97px;
  height: 172.44px;
  max-width: 111.604px;
  max-height: 198.406px;
  object-fit: cover;
  border-radius: 8px;
}
.hl_mp{
  width: 97px;
  height: 172.44px;
  object-fit: cover;
  border-radius: 8px;
  padding: 2px;
}
.hd_p{
  width: 97px;
  height: 125px;
  object-fit: cover;
  padding: 2px;
}
.hl_mp:hover,
.hd_p:hover{
 padding: 0px;

}
.br_1{
  filter: brightness(.8);
}
.mf_highlight_items{
  width: 97px;
  height: 172.44px;
  display: flex;
  flex-direction: row;
  /* padding-bottom:-20px ; */
  

}

.mf_up{
  width: 380px;
  height: 122.667px;
  display: flex;
  justify-content: center;
  padding: 0px;
  margin-left: -45px;

}
.pe_h{
  width: 380px;
  height: auto;
  border-radius: 8px;
  padding: 2px;
  margin: 8px;
  background-color: #222222;
}
.mf_pe{
  display: flex;
  flex-direction: row;
  margin: 8px 4px ;
 
}
.mf_pe a{
  cursor: pointer;
}
.mf_md{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid rgba(85, 85, 85, 0.729);
}
.mf_md div{
  margin: 8px;
  padding: 4px;
  border-radius: 8px;
  cursor: pointer;
}
.mf_md div:hover{
  background-color: #333333;
  
}
.pe_m_p{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #333333;
  padding: 4px;
  margin: 0px;
  cursor: pointer;
}
.pe_m_p:hover{
  box-shadow: 0px 0px 10px rgba(214, 214, 214, 0.809);
  /* transform: rotate(180deg); */
  padding: 4px;
  
}
.pe_txt{
  background-color: #333333;
  width: 400px;
  height: 40px;
  border-radius: 20px;
  padding: 8px;
  margin-left: 8px;
}

.pe_txt span{
  padding: 8px;
  opacity: .8;
}
.all_post{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0px;
  margin-left: -56px;
}
.all_post_data{
  display: flex;
  flex-direction: column;
  background-color: #222222;
  width: 380px;
  height: auto;
  border-radius: 8px;
  padding: 2px;
  margin: 4px;
}
.all_p_owner{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 48px;
}
.p_o_p{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #333333;
  /* padding: 8px; */
  object-fit: cover;
  margin: 8px;
}
.p_o_p:hover{
  box-shadow: 0px 0px 10px rgb(203, 203, 203);
}
.p_o_n{
  padding: 8px;
  margin-left: -10px;
}
.post_data{
  display: flex;
  flex-direction: column;
  /* padding: 8px; */
}
.p_d_tex{
  padding: 8px;
  margin: 8px;
}
.p_d_p{
  width: 380px;
  max-height: 700px;
  padding: -8px;
  margin: -8px;
  object-fit: cover;
}
.all_p_owner .p_opt{
  display: flex;
  justify-content: right;
  flex-grow: 1;
  cursor: pointer;
  margin: 8px;
  
}
body{
  min-height: 1058px;
}
#root{
  min-height: 1058px;
}
#root>div{
  min-height: 1058px;
}
.p_opt strong{
  width: 40px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
}
.p_opt strong:hover{
  background-color: #272727;
}
.p_opt strong:active .p_opt form{
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.p_opt form{
  display: none;
  flex-direction: column;
  justify-content: left;
  padding: 8px;
}
.post_react{
  display: flex;
  flex-direction: column;
  padding: 8px;
  margin: 8px;
  /* width: 480px; */
}
.p_r_count{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 8px;
}
.p_r_count div{
  cursor: pointer;
}
.p_r_data{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 8px;
  border-top: 1px solid rgba(85, 85, 85, 0.729);
}
.p_r_data div{
  margin-bottom: -20px;
  padding: 8px;
  cursor: pointer;
}

.data{
  /* position: relative; */
  /* overflow-y: hidden; */
  margin: 10px;
  display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;



}
.pf_hold{
  min-height: 1058px;
  margin-top: 0px;
   overflow-y: auto;
   overflow-x: hidden;
 }
 .pf_hold::-webkit-scrollbar{
   display: none;
 }
 #profile{
  max-width: 412px;
 }
 .P_f{
  max-width: 412px;
  min-height:1058px;
   color: white;
   display: flex;
   overflow-y: auto;
   overflow-x: hidden;
   flex-direction: column;
   align-items: center;
   justify-content: center;
 }
 .newfeed{
  max-height: auto;
 }

 .l_b{
  min-width: 412px;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
 }
 .u_intro{
  margin-left: 0px;
  min-width: 380px;
  border-radius: 8px;
  background-color: #222222;
 }
 .u_photos{
  margin-left: 0px;
  min-width: 380px;
  border-radius: 8px;
  background-color: #222222;
 }
 .u_friends{
  margin-left: 0px;
  min-width: 380px;
  border-radius: 8px;
  background-color: #222222;
 }
 .u_posts{
  /* margin: 10px; */
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  align-items: center;
 }
 .data .mf_up{
  width: 412px;
  margin: 0;
 }
 .data .all_post{
  margin: 0;
 }
 .pf{
  max-width: 412px;
  margin-top: -120px;
 }
 .C_2{
  margin: 0;
  max-width: 412px;
 }
 .c-img{
  margin-top: 40px;
  margin-left: 0;
  max-width: 412px;
  object-fit: cover;
 }
 .pf .card_1{
  padding-top: 40px;
  /* height: 700px; */
  margin: 0;
  max-width: 412px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
 }

 .pf .card_1 #pi{
  margin-top: -190px;
  max-width: 164px;
  max-height: 164px;
  margin-left: 0;
 }
 


.pf>.card_1>.u_n {
    font-weight: bolder;
    margin-top: 0px;
    width: auto;
    /* display: inline-block; */
    font-size: 30px;
    margin-left: 0px;
    /* text-align: center; */
}
.pf>.card_1>.p-d {
  /* float: inherit; */
  /* display: grid; */
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  padding-bottom: 10px;
  position: relative;
  /* padding: 20px; */
  text-align: center;
}
.post_data{
  padding: 6px;
}

 
}
